@use "./features";
@use "./colors";
@use "./hero.scss";
@use "./media_queries";
@use "./access.scss";
@use "./_workflow.scss";
@use "./company-logos";
@use "./cta";
@use "./footer";

// Defaults

ul {
  list-style-type: none;
}

.main-content {
  display: grid;
  gap: 5em;
}

//Dark GreyishBlue Heading Color Mass Select
.item-name,
.snippets-title,
.hero--title,
.access-title,
.workflow-title,
.workflow-block-title,
.cta-title {
  color: colors.$DarkGrayishBlue;
  line-height: 1.5;
}

.feature-item-sub-text,
.hero--sub-heading,
.snippets-text,
.access-text,
.workflow-text,
.workflow-block-text,
.cta-text {
  color: colors.$GrayishBlue;
  line-height: 1.5;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.btn {
  border-radius: 50px;
  padding: 1em 3em;
  font-weight: 600;
  font-family: inherit;
  color: colors.$White;
}

.btn--primary {
  background-color: colors.$StrongCyan;
  box-shadow: 0px 3px 0px colors.$StrongCyanShadow;
}

.btn--secondary {
  background-color: colors.$LightBlue;
  box-shadow: 0px 3px 0px colors.$LightBlueShadow;
}

.footer {
  background-color: colors.$GrayishBlueFooter;
  color: colors.$GrayishBlue;

  a {
    text-decoration: none;
    color: colors.$GrayishBlue;
  }
}

// Media query for btns

@media screen and (min-width: 40rem) {
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .features-list {
    text-align: left;
  }

  .workflow-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .company-users {
    display: flex;
    gap: 2.5em;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
    align-items: center;
  }
  .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    text-align: left;
  }

  .access-container-title,
  .feature-container-title,
  .workflow-title,
  .cta-title,
  .hero-title,
  .hero--sub-heading {
    max-width: 37.5rem;
    margin: 0 auto;
  }
}
