.workflow {
  text-align: center;
  display: grid;
  gap: 2.5em;
}

.workflow-block {
  display: grid;
  gap: 1em;

  .workflow-img {
    margin: 0 auto;
    display: block;
    height: 48px;
    width: 48px;
    object-fit: contain;
  }
}
